.form-box{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px 10px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-item{
    position: relative;
    background: #fff;
    /*height: 72px;*/
    height:60px;
    border-bottom: 1px solid #d9d9d9;
}

.form-item .username, .form-item .password, .form-item .code, .form-item .mobile{
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    width: 100%;
    height: 44px;
    background: #fff;
    color: #333;
    font-size: 15px;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}

.form-item-code{
    margin-top:32px;
    height: auto;
    overflow: hidden;
    width: 100%;
}

.register-content .form-item-code{
    margin-top: 15px;
}

.form-item-code .form-item{
    float: left;
    width: 55%;
}

.code-btn{
    float: right;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 20px;
}

.register-btn, .reset-btn{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    border-radius: 3px;
    margin: 30px 0;
}

.form-item-code .code-img{
    float: right;
    margin-top: 4px;
    height: 88px;
    width: 236px;
}

.form-item .clear{
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 2;
    display: block;
    background: #fff;
    height: 30px;
    width: 30px;
}

.login-btn{
    margin: 30px 0 20px 0;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 3px;
}

.wexin-login-btn{
    margin: 30px 0 20px 0;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #1AAD18;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 3px;
}

.form-item-text{
    height: 35px;
    width: 100%;
}

.form-item-text .register{
    display: block;
    height: 34px;
    float: left;
    font-size: 14px;
    color: #999;
}

.form-item-text .reset{
    display: block;
    height: 34px;
    float: right;
    font-size: 14px;
    color: #999;
}