.profile-info{
    width: 100%;
    height:160px;
    background: #1e1e1e;
}

.avatar{
    width: 74px;
    height: 74px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
}

.profile-info{
    width: 100%;
    height:140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background: #333;
}

.profile-info .avatar{
    height: 74px;
    width: 74px;
    border-radius: 50%;
    margin-left: 15px;
}

.profile-info .info{
    flex: 1;
    height: 32px;
    padding-left: 15px;
}

.profile-info .name{
    display: block;
    height: 23px;
    line-height: 23px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
}

.click-btn{
    color: #8E7F62;
}

.profile-info .level{
    display: block;
    height: 15px;
    line-height: 15px;
    margin-bottom: 5px;
    color: #7f7f7f;
    font-size: 14px;
}

.user-menu{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
}

.user-menu .item{
    float: left;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
}

.user-menu .item .a{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f2f2f2;
}

.user-menu .item.no-border {
    border-right: 0;
}

.user-menu .item.item-bottom {
    border-bottom: none;
}

.user-menu .icon{
    margin: 10px;
    height: 26px;
    width: 26px;
    float: left;
}

.icon-right{
    width: 25px;
    height: 50px;
    display: inline-block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABX0lEQVRIS+3TMUvDQBTA8ffOoEmwCIKIKNrBQXBxcVPRD2GGIvgpSm+8KTQ2JFM+gJubk7NS1MXZwdXv0A458k5uKBShcJerrUNuvsuP938EYUkHl+RCAy+s/P9PLYRgvu/vcc6/55HFeOLBYNAhonvGWNTtdh9dcWNYCLEahuETAFwh4rUrbgzrCYUQfhAEz4h46opbwRovimJ9NBq9AMCJC24Na7zf728wxoYAcExEN5zzB9ud14I1kmXZppTyFRGPiKhji9eGNR7H8ZbneW8AcGiLO8Eaz/N8pyzLd0TcbrfbrSiKKpPsznCWZbtSSg2vjMfjfSEE/Tk8QQGgpZQ655x/mqD6Tu2JXdDasCtaC57aaUhElzZ5p9dglTpN04OqqoaIGCqlznq93pfpTn/fM4b1byOl/ACANVfUKnWSJLeIeKeUunCZdDK58cR1k85618DzLjrze03qhaX+ARWrlh+6MMAnAAAAAElFTkSuQmCC") no-repeat center;
    background-size: 100%;
    float: right;
}

.user-menu .icon.order{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 -57px no-repeat;
    background-size: 24px;
}

.user-menu .icon.coupon{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 -24px no-repeat;
    background-size: 24px;
}

.user-menu .icon.collect{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 -83px no-repeat;
    background-size: 24px;
}

/*.user-menu .icon.gift{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 -187.5px no-repeat;
    background-size: 25px;
}*/

.user-menu .icon.address{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 2px no-repeat;
    background-size: 24px;
}

.user-menu .icon.security{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 -228px no-repeat;
    background-size: 24px;
}

/*.user-menu .icon.kefu{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 -106px no-repeat;
    background-size: 25px;
}*/

/*
.user-menu .icon.help{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 -125px no-repeat;
    background-size: 25px;
}
*/

/*.user-menu .icon.feedback{
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png) 0 -239px no-repeat;
    background-size: 25px;
}*/


.user-menu .txt{
    display: block;
    width: 100%;
    font-size: 14px;
    color:#333;
}

.logout{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #333;
    font-size: 14px;
}

/*order 我的订单样式表*/
.page{
    height: 100%;
    width: 100%;
    background: #f4f4f4;
}


.orders-switch{
    width: 100%;
    background: #fff;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.orders-switch .item{
    display: inline-block;
    height: 40px;
    width: 18%;
    text-align: center;
}

.orders-switch .item .txt{
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    color: #333;
    font-size: 14px;
    width: 50px;
}

.orders-switch .item.active .txt{
    color: #ab2b2b;
    border-bottom: 2px solid #ab2b2b;
}


.no-order{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.no-order .c{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.no-order .c img{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 40%;
}

.no-order .c p{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.orders{
    height: auto;
    width: 100%;
    overflow: hidden;
}

.order{
    margin-top: 10px;
    background: #fff;
}

.order .h{
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #f4f4f4;
    font-size: 14px;
    color: #333;
}

.order .h .l{
    float: left;
}

.order .h .r{
    float: right;
    color: #b4282d;
    font-size: 12px;
}

.order .goods{
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 10px 0;
}

.order .goods .img{
    height:72px;
    width:72px;
    background: #f4f4f4;
}

.order .goods .img img{
    height: 72px;
    width: 72px;
}

.order .goods .info{
    flex: 1;
    padding-left: 10px;
}

.order .goods .name{
    margin-top: 15px;
    display: block;
    height: 22px;
    line-height: 22px;
    color: #333;
    font-size: 14px;
}

.order .goods .number{
    display: block;
    height: 37px;
    line-height: 37px;
    color: #666;
    font-size: 12px;
}

.order .goods .status{
    width:105px;
    color: #b4282d;
    font-size: 25px;
}

.order .b{
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #f4f4f4;
    font-size: 15px;
    color: #333;
    font-weight: normal;
}

.order .b .l{
    float: left;
}

.order .b .r{
    float: right;
}

.order .b .btn{
    margin-top: 19px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 28px;
    color: #fff;
    background: #b4282d;
}

/*我的收藏*/
page{
    background: #f4f4f4;
    min-height: 100%;
}

.container{
    background: #f4f4f4;
    min-height: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}


.no-collect{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.no-collect .c{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.no-collect .c img{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 40%;
}

.no-collect .c text{
    margin: 0 auto;
    display: block;
    width: 258px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.collect-list{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    padding: 0 10px;
    border-top: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.collect-list .item{
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}

.item{
    /*background: #fff;*/
    /*padding: 10px  0;*/
    /*border-bottom: 1px solid #e1e1e1;*/
}

/*
.item:last-child{
    border-bottom: 1px solid #fff;
}
*/

.item .img{
    float: left;
    width: 70px;
    height: 70px;
}

.item .info{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.item .info .name{
    font-size: 14px;
    color: #333;
}


.item .info .subtitle{
    /*margin-top: 4px;*/
    font-size: 12px;
    color: #888;
}

.item .info .price{
    margin-top: 4px;
    font-size: 14px;
    color: #333;
}

/*我的足迹*/
page{
    background: #f4f4f4;
    min-height: 100%;
}

.container{
    background: #f4f4f4;
    min-height: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.no-footprint{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.no-footprint .c{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.no-footprint .c img{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 40%;
}

.no-footprint .c text{
    margin: 0 auto;
    display: block;
    width: 258px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.footprint{
    height: auto;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #e1e1e1;
}

.day-item{
    height: auto;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.day-hd{
    height: 40px;
    width: 100%;
    line-height: 40px;
    background: #fff;
    padding-left: 10px;
    color: #333;
    font-size: 13px;
}

.day-list{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    padding: 0 10px;
    border-top: 1px solid #f2f2f2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.day-list .item{
    padding: 10px 0;
}

.item{
   /* height: 100px;
    width: 100%;
    background: #fff;*/
    /*padding: 10px 10px 10px 0;*/
    /*border-bottom: 1px solid #f2f2f2;*/
}

/*.item:last-child{
    border-bottom: 1px solid #fff;
}*/

.item .img{
    float: left;
    width: 70px;
    height: 70px;
}

.item .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.item .info .name{
    font-size: 14px;
    color: #333;
    line-height: 20px;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}


.item .info .subtitle{
    font-size: 12px;
    color: #888;
    line-height: 20px;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.item .info .price{
    margin-top: 8px;
    font-size: 14px;
    color: #b4282d;
    line-height: 20px;
}

/*我的地址样式表*/
page{
    height: 100%;
    width: 100%;
    background: #f4f4f4;
}

.container{
    height: 100%;
    width: 100%;
}

.address-list{
    background: #fff url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/address-bg-bd30f2bfeb.png) 0 0 repeat-x;
    background-size: auto 5px;
    margin-bottom: 20px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}

.address-list .item{
    height: 40px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #DCD9D9;
    padding: 10px 0;
}

.address-list .l{
    /*height: 40px;*/
    overflow: hidden;
    margin-right: 10px;
}

.address-list .name{
    font-size: 14px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.address-list .default{
    width: 30px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 10px;
    color: #b4282d;
    border: 1px solid #b4282d;
    visibility: visible;
}


.address-list .c{
    flex: 1;
    height: auto;
    overflow: hidden;
}

.address-list .mobile{
    font-size: 14px;
    overflow: hidden;
    color: #333;
    margin-bottom: 5px;
}

.address-list .address{
    font-size: 12px;
    overflow: hidden;
    color: #666;
}

.address-list .r{
    width: 30px;
    height: auto;
    overflow: hidden;
}

.address-list .del{
    display: block;
    width: 20px;
    height: 20px;
}

.edit-addre-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACfElEQVRIS+2XP2gUURDG59uzUFBBNFhEErDQwkYwio3k5q3RRkSEXJVCEE0lCGIlAf+VEhsbI6RQCwliFLFQb/dtvORMEAsLUQiCINosWFgkIXfuJwt3wcvlsuvdQSxy5b5583vfzOy7byFr9MMacaUOTNIJguCYiOwTkS2NDgbgQzabHU9zcGvtBhHZpapfq/E14MnJya7FxcUnAA4kJST5wxjTmRRnrd1M8qWIHCa5x3XdL/GeJTBJBEEwIyIHReQ5gAckw0aJoyiadV33+2rg6enprfPz8/lKznFVPV2n2Pf9kwCekRw1xpxNUpK0XoFOiMh+EYlbklPVch3YWntTRK5EUXTcdd1XSYlXWy8UCtvK5bJfhYZh2J/L5X7/vWep1L7vjwA4R7LHGPO+WXAMLZVKBQDxcD4Kw3BgObSmx+0AW2t3kAxiKMn7qnoGAFcS0TbF+Xx+p+M4EwD2JkHbprgCLQLYTfKeqg42UrrSVDfVY8/zOgG8qUKNMefTzEdLpfY8r7sC7RKRO6p6IQ20pVJXoFMA4tvrn6BNg621G0l+BtAtIrdU9XJapS31uFgsblpYWJh1HOduNpu9kQSNb7G5ublPIjJkjBltWnESaPm6tbZHRN6RHDHGDK6Dm3qP05R9vdT/zXBdBzBE8qgxxkvTu7QxQRD0kYzNxVVVvbZccdX6DBtjLqVNmibOWntbRC6SPGGMeVEDjs2etfYtgEMkH4rIUwA/0yRuFENyO4BTIjJAckpVj1T/LuvsbalUelxxha0wa/aSnMlkMv29vb3f6u7q6oOxsbFMR0dHX5KhT3Mqkr9E5KOqvgYQrWj20iRqZ8yafTv9Ae+zty6dOMcLAAAAAElFTkSuQmCC") no-repeat center;
    background-size: 70%;
}

.add-address-btn{
    background: #b4282d;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    border-radius: 0;
    border: none;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    left:0;
}

.empty-view{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-view .icon{
    height: 248px;
    width: 258px;
    margin-bottom: 10px;
}

.empty-view .text{
    width: auto;
    font-size: 14px;
    line-height: 35px;
    color: #999;
}

.empty-div{
    text-align: center;
}

.empty-div img{
    width: 40%;
}

/*添加地址*/
page{
    height: 100%;
    background: #f4f4f4;
}

.address-content{
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.add-address .add-form{
    background: #fff;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.add-address .form-item{
    height: 45px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.add-address .input{
    flex: 1;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    background: none;
    border: none;
}

.add-address .form-default{
    height: 40px;
    /* background: #fafafa; */
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.default-input{
    margin: 0 auto;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.circle-icon{
    width: 20px;
    height: 40px;
    display: inline-block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACHklEQVQ4T62VP4gTQRTGvy+uKwT8U5iA2gkWZ660iBjOnTFa2NilErGzuOOuULE5/10sBEVOOa+wtkqhnaiYmRhXLoV2RosDSy3WK7QIsmz2yYZEcvFCuMSBaWbe/Oabmfe+IYa0er2eiaLoNIBjJA8nYSLyFcCHOI5fFYvFja2WcnCw0WjsabVaZQCXALxPOskYwD4RmQJQALALwGo6nV7M5/O/+hmbgMaYUySfisgLx3EWZ2Zmvg9u2Gw23SAIzsVxXCa5V0TOa62rvbi/QGttEcBrAPNKqZVhV9Ebr1QqOzKZzF0AlwGcUUq9SeY6wHq9fiCKoi8kl5VSt0bB+ueNMbcBLDiOM5WcqAM0xjwGkNNae9uB9WKNMTUATa31LH3f3x2G4Q+SJ5VSjXGA1tq8iLx1XXc/rbUXReSK1np6HFifyk8k7yfAFRFpa60XJgFaa5cBOAnwGck1z/PuTQKs1WpXReT4/wcaY1YBRFrr+UkUGmMeAthJY8wFkteVUkcmAVpr10WkzG7tBqlUyvM8b20c6Ka0SQDdl54eN7GttTZJbKXUXKdSfN8/GIbhZwCPtNY3tqPSGLOU1L/rukcLhcK3rczhQRAE10qlUnsU2Fo7l4j4xxz6sr1nXz9J3sxms89zuVw4CK5Wq4dILpE8O9S+eou6j3QHwCyA3yTfAVgHsCEiKQAnuv3JSIPtVzLsCyD5sd1uvxz2BfwBCdcJgiSKFBwAAAAASUVORK5CYII=") no-repeat center;
    background-size: 100%;
    vertical-align: middle;
}

.circle-icon.selected{
    width: 20px;
    height: 40px;
    display: inline-block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACVklEQVQ4T62UT0hUURTGv++ZvldRaZQLc6ebeW9eizBIg8hVkTZjERLYJgg0KKhd1jptG/1vFVFQA5ljY7RKi2hTbnTu08VYRPYHk0gSmknnnZgZZ9RxHjyhu7x853fuuec7h/jPh168iGVVGGnuhybNAi2Q04kjlFe1hvGyYWRkvlTsKmAEKDMC1llX07oJVJcKEmBac93e5Li61g6kl2tWAPvqdlZrhvuUYJOfnxDIWzepHTk6OTqd1xeAkdra9frmqjcgdvmBLWnkfWr21772qak/mbsCMGoGe0B2rw22qBbpDTvxiwVgzLar0mn5CtLwBRQoQboHLLtBoBIiSZ2y46BSP7MvjJp2B4gH/mCSKP+bbJrT9VldtI8ganIGwImwM/ZwERi8BbIrDxTIJMG64gQi8qmcsmeDUjOzVjBG8EAhRuROmxPvygGtYAxgSy6RTLapeH00EDwNjTeXkmCqIsXGucToN920+0CEViaUwbCKt+aBzwC2FgSunAuPx68WoCLfXXehcX5i4nOFaT8icWz190gsrOKHs8B+M3ibZGeRQU+G1Ni9/oB1ipThkON8iJr249KwbGl3w85Yp2dTRMTVKO0hpZ4IoA2Y9n0QHZ6NW96UF5a1NSX8UsI2CxCcB2UvwOPesCLbZIQDptUr1C74sk6RiOJeCTkqOxQrR29L5WuADWuDeoxeBvK8vn77vG4MAtztDyrvylPJlkOJxI9VyyF/MQSs+x2wzgh5CeS2kmCRGYpc3jSurjcDC0XuKP0WrwVLF8M1G/Uh3wvWX6neqn9V/v0VkYXdUAAAAABJRU5ErkJggg==") no-repeat center;
    background-size: 100%;
    vertical-align: middle;
}

.add-address .btns{
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    height: 50px;
    width: 100%;
}

.add-address .cannel,.add-address .save{
    flex: 1;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    border:none;
    border-radius: 0;
}

.add-address .cannel{
    background: #333;
}

.add-address .save{
    background: #b4282d;
}


.region-select{
    width: 100%;
    height: 600px;
    background: #fff;
    /*position: fixed;*/
    z-index: 10;
    left:0;
    bottom: 0;
}

.region-select .hd{
    height: 108px;
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    padding: 46px 30px 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.region-select .region-selected{
    float: left;
    height: 60px;
    display: flex;
}

.region-select .region-selected .item{
    max-width: 140px;
    margin-right: 30px;
    text-align: left;
    line-height: 60px;
    height: 100%;
    color: #333;
    font-size: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.region-select .region-selected .item.disabled{
    color: #999;
}

.region-select .region-selected .item.selected{
    color: #b4282d;
}

.region-select .done{
    float: right;
    height: 60px;
    width: 60px;
    border: none;
    background: #fff;
    line-height: 60px;
    text-align: center;
    color: #333;
    font-size: 28px;
}

.region-select .done.disabled{
    color: #999;
}

.region-select .bd{
    height: 492px;
    width: 100%;
    padding: 0 30px;
}

.region-select .region-list{
    height: 492px;
}

.region-select .region-list .item{
    width: 100%;
    height: 104px;
    line-height: 104px;
    text-align: left;
    color: #333;
    font-size: 28px;
}

.region-select .region-list .item.selected{
    color: #b4282d;
}


.bg-mask{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top:0;
    left:0;
    z-index: 8;
}

/*我的优惠券*/
page{
    background: #f4f4f4;
    min-height: 100%;
}

.container{
    background: #f4f4f4;
    min-height: 100%;
}

.coupon-form{
    height: 60px;
    width: 100%;
    background: #fff;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}

.input-box{
    flex: 1;
    height: 36px;
    color: #333;
    font-size: 12px;
    background: #fff;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: 15px;
}

.input-box .coupon-sn{
    border: none;
    position: absolute;
    top: 0px;
    height: 36px;
    width: 100%;
    color: #000;
    line-height: 33px;
    font-size: 12px;
    background: none;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear-icon{
    position: absolute;
    top: 11px;
    right: 5px;
    width: 14px;
    height: 14px;
}

.add-btn{
    height: 36px;
    width: 75px;
    background: #b4282d;
    border-radius: 2px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #999;
}

.add-btn.disabled{
    background: #ccc;
}

.help{
    height: 36px;
    line-height: 36px;
    text-align: right;
    padding-right: 15px;
    background: url(https://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/couponHelp-4768607555.png) 0 center no-repeat;
    background-size: 14px;
    color: #999;
    font-size: 12px;
    width: 68px;
    float: right;
}

.coupon-list{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
}

.coupon-list .item{
    position: relative;
    height: 110px;
    width: 100%;
    background: linear-gradient(to right,#cfa568,#e3bf79);
    margin-bottom: 15px;
    padding-top: 20px;
}

.tag{
    height: 16px;
    background: #A48143;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    left: 10px;
    color: #fff;
    top: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}


.content{
    margin-top: 14px;
    margin-left: 20px;
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
}

.content .left{
    flex: 1;
}

.name{
    font-size: 22px;
    color: #fff;
    margin-bottom: 7px;
}

.time{
    font-size: 12px;
    color: rgba(255,255,255, 0.8);
    line-height: 15px;
}

.content .right{
    width: 80px;
}

.go{
    height: 24px;
    border: none;
    width: 80px;
    background: rgba(255,255,255, 0.8);
    border-radius: 4px;
    line-height: 24px;
    color: #b69150;
    font-size: 12px;
}

.condition{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    height: 30px;
    line-height: 30px;
    background: rgba(0,0,0,.08);
    padding: 9px 15px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.condition .txt{
    display: block;
    height: 15px;
    flex: 1;
    overflow: hidden;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;

}


.condition .icon{
    margin-left: 15px;
    width: 12px;
    height: 12px;
}



